body {
  background: fixed #e8effa;
}

.header {
  padding: 15px 25px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
}

.main-logo {
  width: auto;
}

.header-buttons-box {
  float: right;
}

.buttons {
  background: #0070e0;
  color: #fff;
  border-radius: 5px;
  border-color: #0070e0;
  margin: 0px 10px;
  padding: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  color: #000;
  margin: 10 0 10 -50px;
  background-color: #fff;
}

.buttons:hover .dropdown-content {
  display: block;
}

.box-shadow-radius {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.section-content {
  margin: 64px 0 0px;
  background-color: #fff;
}

.heading {
  padding: 20 30 0;
}

.card-container {
  display: flex;
  padding: 40px 60px;
}

.card-paragraph {
  margin: 0 0 80px 0;
}

.product-type-box {
  color: #fff;
  background: #00a0f6;
  padding: 18px;
  margin: 20px 20px 20px 0;
}

.product-type-icon img {
  float: right;
  margin: 25px 0 0 0;
}

.card-container-sections {
  display: flex;
  padding: 40px 40px;
  flex-wrap: wrap;
}

.right-side {
  float: right;
  padding: 30px 0;
}

.app-row {
  background: #fff;
  padding: 18px;
  max-width: 410px;
  margin: 18px;
}

.app-row img {
  float: right;
  width: 25%;
  height: auto;
}

.app-row-footer {
  width: 100%;
  float: left;
  padding: 20px 0 0;
  margin: 15px 0 0;
}

.app-footer-feature {
  margin: 0 0 0 180px;
}

.tick-box {
  float: left;
  margin: 50px 0 20px;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(99, 114, 130, 0.3);
  border-radius: 100px;
}

.apps-detailbtn {
  float: right;
  border: 1px solid #f31597;
  background: #fff;
  color: #f31597;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 4px;
}

.apps-detailbtn:hover {
  background: #f31597;
  color: #fff;
}

.app-box {
  color: #000;
  background: #fff;
  padding: 18px;
  max-width: 345px;
  margin: 20px 20px 30px 0;
}

.trending-item-text {
  margin: 0 0 0 110px;
}
.trending-item-img {
  float: left;
  width: 34px;
}

.trending-item-button {
  background: #fff;
  border: 2px solid #0070e0;
  height: 45px;
  color: #0070e0;
  width: 100%;
}
.question-box {
  width: 575px;
  background: #fff;
  margin: 0 30px 0 0;
}

.answer-box {
  background: #eef5fd;
  padding: 10px;
}

.answer-box ul {
  display: flex;
  flex-wrap: wrap;
}

.answear-icon {
  width: 45px;
  float: left;
  margin: 0 15px 0 0;
}

.answer-icon img {
  max-width: 20%;
}

label :after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 2px solid rgba(99, 114, 130, 0.3);
  border-radius: 100px;
}

.answer-list {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 15px;
  font-size: 16px;
}

.answer-box ul li {
  width: 50%;
  padding: 10px;
}

.question-box h3 {
  font-size: 18px;
  margin: 0;
  padding: 15px 20px 20px 60px;
}
